/KidProjectServer/.vs
/KidProjectServer/KidProjectServer/obj
KidProjectServer/.vs/KidProjectServer/v17/.futdcache.v2
KidProjectServer/.vs/KidProjectServer/v17/.suo
KidProjectServer/.vs/ProjectEvaluation/kidprojectserver.metadata.v7.bin
KidProjectServer/.vs/ProjectEvaluation/kidprojectserver.projects.v7.bin
KidProjectServer/KidProjectServer/obj/Debug/net8.0/KidProjectServer.AssemblyInfo.cs
KidProjectServer/KidProjectServer/obj/Debug/net8.0/KidProjectServer.AssemblyInfoInputs.cache
KidProjectServer/KidProjectServer/obj/Debug/net8.0/KidProjectServer.assets.cache
KidProjectServer/KidProjectServer/obj/Debug/net8.0/KidProjectServer.csproj.AssemblyReference.cache
KidProjectServer/KidProjectServer/obj/Debug/net8.0/KidProjectServer.GeneratedMSBuildEditorConfig.editorconfig
